body, html {
    margin : 0;
    height: 100%
}

body {
    text-align: center;
    background-color: #F9D557;
}

h1 {
  text-align: center;
  color: #CE4621;
  font-size: 100px;
}

p {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px 5px ;
    margin: .5cm 8cm;
    color: #DC143C;
    font-size:40px;
    
}
